$color_primary: #191927;
$color_primary_hover: #616180;
$color_secondary: #f7f7f7;

#main-column {
	background-color: $color_secondary;
  margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.side-column {
	background-color: $color_secondary;
	border-radius: 8px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.side-column-list {
	color: $color_primary
}

.btn {
	background-color: $color_primary;
	border:$color_primary;
}

.btn:hover {
	background-color: $color_primary_hover;
	border: $color_primary_hover;
}

.navbar{
	background-color: $color_primary;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
	margin-left: 40px;
}

.footer {
	height: 100px;
	background-color: $color_primary;
}
