{% extends "layout.html" %}
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('books') }}">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
  </li>
{% endblock %}
{% block heading %}
  {{ book.title }}
{% endblock %}
{% block main_body %}
  <table>
    <tr>
      <th>ISBN:</th>
      <td>{{ book.isbn }}
    </tr>
    <tr>
      <th>Author:</th>
      <td>{{ book.author }}
    </tr>
    <tr>
      <th>Year:</th>
      <td>{{ book.year }}
    </tr>
    <tr>
      <th>Average Rating (Goodreads):</th>
      <td>{{ average_rating }}
    </tr>
    <tr>
      <th>Number of Reviews (Goodreads):</th>
      <td>{{ reviews_count }}
    </tr>
  </table>

  {% for review in reviews %}
    <div class="place-review-form">
      <h5>{{ review.title }}</h5>
      <p>{{ review.message }}</p>
    </div>
  {% endfor %}

  <div class="place-review-form">
    <h5>Write a review for: {{ book.title }}</h5>
    <form class="form-horizontal" action="{{ url_for('book', book_id=book.id) }}" method="post">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-12 control-label">Title</label>
        <div class="col-sm-12">
          <input type="title" class="form-control" id="inputEmail3" name="review_title" placeholder="Review Title">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-12 control-label">Review</label>
        <div class="col-sm-12">
          <input type="review" class="form-control" id="inputEmail3" name="review" placeholder="Review">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block side_body %}
  <h5>Top 10 Rated Books</h5>
  <ol>
    {% for i in range(10) %}
      <li><a href="{{ url_for('books') }}" class="side-column-list">Book {{ i + 1 }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}
