{% extends "layout.html" %}
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('books') }}">Books</a>
  </li>
{% endblock %}
{% block heading %}
  Books
{% endblock %}
{% block main_body %}
  {% if results_count == 0 %}
    <p>Welcome to the books page of Bill Gates' Library. From here, you can search for ISBN numbers, authors and titles for the books that you are looking for. Use the input field below to do this.</p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  {% else %}
    {% for result in search_results %}
      <div class="place-review-form">
        <h5>{{ result.title }}</h5>
        <p>ISBN: {{ result.isbn }}</p>
        <p>Author: {{ result.author }}</p>
        <p>Year: {{ result.year }}</p>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block side_body %}
  <h5>Top 10 Rated Books</h5>
  <ol>
    {% for i in range(10) %}
      <li><a href="{{ url_for('books') }}" class="side-column-list">Book {{ i + 1 }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}
