{% extends "layout.html" %}
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('books') }}">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
  </li>
{% endblock %}
{% block heading %}
  Books
{% endblock %}
{% block main_body %}
  <p>{{ results_message }}</p>
  {% if results_count == 0 %}
    <p>Welcome to the books page of Bill Gates' Library. From here, you can search for ISBN numbers, authors and titles for the books that you are looking for. Use the input field below to do this.</p>
    <div class="place-review-form">
      <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="post">
        <input class="form-control mr-sm-2" name="search_input" type="search" placeholder="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  {% else %}
    {% for result in search_results %}
      <div class="place-review-form">
        <h5>{{ result.title }}</h5>
        <p>
          ISBN: {{ result.isbn }}
          <br>
          Author: {{ result.author }}
          <br>
          Year: {{ result.year }}
        </p>
        <form class="form-inline" action="{{ url_for('book', book_id=result.id) }}">
          <button class="btn btn-primary" type="submit">View book</button>
        </form>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block side_body %}
  <h5>Top 10 Rated Books</h5>
  <ol>
    {% for book in top10 %}
      <li><a href="{{ url_for('book', book_id=book.id) }}" class="side-column-list">{{ book.title }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}
