{% extends "layout.html" %}
{% block navbar %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('books') }}">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
  </li>
{% endblock %}
{% block heading %}
  Welcome to Bill Gates' Library
{% endblock %}
{% block main_body %}
  <p>
    The purpose of this website is to show the details, ratings and reviews for books. The ratings and reviews that can be found on this website are either written on this website or extracted from the Goodreads API. This website also enables users to rate and review books.
    <br><br>
    Once you have logged onto the website, you are able to search the database of books to find the details, ratings and reviews about books. Loggin in also enables you to write reviews for all of the books that you would like to express your opinion about.
    <br><br>
    If you are new to this website, please review to the login/registration form on the left-hand side and click "Register" to register for an account on this website. When you have registered for an account, you will be able to use all of the features mentioned above.
    <br><br>
    If you wish to log out, please refer to the "Log out" button in the top-right corner of the website to do so.
  </p>
{% endblock %}
{% block side_body %}
  <h5>Top 10 Rated Books</h5>
  <ol>
    {% for book in top10 %}
      <li><a href="{{ url_for('book', book_id=book.id) }}" class="side-column-list">{{ book.title }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}
