<!DOCTYPE html>
<html>
    <head>
        <title>Bill Gates' Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
      <nav class="navbar navbar-dark">
        <a class="navbar-brand"><img src="static/logo.png" height="54"></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% block navbar %}
            {% endblock %}
          </ul>
          <form class="form-inline my-2 my-lg-0 search_navbar" action="{{ url_for('search') }}" method="post">
            <input class="form-control mr-sm-2" name="search_input" type="search" placeholder="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
          {% if logged_in %}
            <form class="form-inline">
              <button class="btn btn-primary" onclick="location.href = '{{ url_for('logout') }}';" type="submit">Log out</button>
            </form>
          {% endif %}
      </nav>
      {% if alert_message == 'Login succesful' or alert_message == 'Logout succesful' or alert_message == 'Registration succesful' %}
      <div class="alert alert-success" role="alert">
        {{ alert_message }}
      </div>
      {% endif %}
      {% if alert_message == 'Login failed' or alert_message == 'Email address is already present in the database. Log in or register a different email address.' or alert_message == 'Passwords need to be the same to register.' %}
        <div class="alert alert-danger" role="alert">
          {{ alert_message }}
        </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8" id="main-column">
            <h3>{% block heading %}{% endblock %}</h3>
            {% block main_body %}
            {% endblock %}
          </div>
          {% if logged_in == False %}
            <div class="col-sm-3">
              <form class="form-horizontal side-column" action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label">Email</label>
                  <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-12 control-label">Password</label>
                  <div class="col-sm-12">
                    <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
                </div>
              </form>
            {% endif %}
            <div class="side-column">
              {% block side_body %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <footer class="footer"></footer>
    </body>
</html>
