<!DOCTYPE html>
<html>
    <head>
        <title>Bill Gates' Library</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    	<header>
    		<h1>Bill Gates' Library</h1>
    	</header>
    	<nav class="navbar navbar-dark bg-primary">
    		<div class="navigation_bar">
	    		<ul class="nav">
					<li class="nav-item">
						<a class="nav-link active" href="home.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="books.html">Aanwijzingen</a>
					</li>
          <li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="pagina">
			<h3>{% block heading %} {% endblock %}</h3>
      {% block body %}
      {% endblock %}
		</div>
    </body>
</html>
