{% extends "layout.html" %}
{% block navbar %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('books') }}">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
  </li>
{% endblock %}
{% block heading %}
  Welcome to Bill Gates' Library
{% endblock %}
{% block main_body %}
  <form class="form-horizontal side-column">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-12 control-label">Name</label>
      <div class="col-sm-12">
        <input type="name" class="form-control" id="inputEmail3" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-12 control-label">Email</label>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-12 control-label">Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-12 control-label">Confirm Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" onclick="location.href = '{{ url_for('index') }}';">Register</button>
      </div>
    </div>
  </form>
{% endblock %}
{% block side_body %}
  <p>Once you have registered, you will be redirected to the homepage to log in.</p>
{% endblock %}
